.feedbackContainer {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.feedbackButton {
  padding: 2px 12px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: 2px 2px 2px 0px rgba(142, 146, 148, 0.4);
}

.feedbackButton:hover {
  background-color: #7ca6c9;
}
